src/Presentation/Nop.Web/Administration/Service References/IISConfigurerServiceClient/IISConfigurer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IISConfigurer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IIISConfigurer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/ETFIISConfigurator/service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/ETFIISConfigurator/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIISConfigurer_AddBinding_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBinding" />
  </wsdl:message>
  <wsdl:message name="IIISConfigurer_AddBinding_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBindingResponse" />
  </wsdl:message>
  <wsdl:message name="IIISConfigurer_DeleteBinding_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBinding" />
  </wsdl:message>
  <wsdl:message name="IIISConfigurer_DeleteBinding_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBindingResponse" />
  </wsdl:message>
  <wsdl:message name="IIISConfigurer_AddSubdominNSRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubdominNSRecord" />
  </wsdl:message>
  <wsdl:message name="IIISConfigurer_AddSubdominNSRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubdominNSRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IIISConfigurer_DeleteSubdomain_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubdomain" />
  </wsdl:message>
  <wsdl:message name="IIISConfigurer_DeleteSubdomain_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubdomainResponse" />
  </wsdl:message>
  <wsdl:portType name="IIISConfigurer">
    <wsdl:operation name="AddBinding">
      <wsdl:input wsaw:Action="http://tempuri.org/IIISConfigurer/AddBinding" message="tns:IIISConfigurer_AddBinding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIISConfigurer/AddBindingResponse" message="tns:IIISConfigurer_AddBinding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBinding">
      <wsdl:input wsaw:Action="http://tempuri.org/IIISConfigurer/DeleteBinding" message="tns:IIISConfigurer_DeleteBinding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIISConfigurer/DeleteBindingResponse" message="tns:IIISConfigurer_DeleteBinding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubdominNSRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IIISConfigurer/AddSubdominNSRecord" message="tns:IIISConfigurer_AddSubdominNSRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIISConfigurer/AddSubdominNSRecordResponse" message="tns:IIISConfigurer_AddSubdominNSRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSubdomain">
      <wsdl:input wsaw:Action="http://tempuri.org/IIISConfigurer/DeleteSubdomain" message="tns:IIISConfigurer_DeleteSubdomain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIISConfigurer/DeleteSubdomainResponse" message="tns:IIISConfigurer_DeleteSubdomain_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IIISConfigurer" type="tns:IIISConfigurer">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IIISConfigurer_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="AddBinding">
      <soap12:operation soapAction="http://tempuri.org/IIISConfigurer/AddBinding" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBinding">
      <soap12:operation soapAction="http://tempuri.org/IIISConfigurer/DeleteBinding" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSubdominNSRecord">
      <soap12:operation soapAction="http://tempuri.org/IIISConfigurer/AddSubdominNSRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubdomain">
      <soap12:operation soapAction="http://tempuri.org/IIISConfigurer/DeleteSubdomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IISConfigurer">
    <wsdl:port name="NetNamedPipeBinding_IIISConfigurer" binding="tns:NetNamedPipeBinding_IIISConfigurer">
      <soap12:address location="net.pipe://localhost/ETFIISConfigurator/service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/ETFIISConfigurator/service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/Konstantin-pk</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>