src/Presentation/Nop.Web/Administration/Service References/IISConfigurerServiceClient/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddBinding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBindingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBindingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBinding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBindingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBindingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubdominNSRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subdomainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubdominNSRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubdominNSRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubdomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubdomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSubdomainResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>